/* creations-container start */
.creations-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    color: aliceblue;
}

/* creations-group-container start */
.creations-group-container {
    width: 100%;
}

.creation-group-title {
    font-size: 2rem;
}

/* creation-items container start*/
.creation-items-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
}

/* creation-items start */
.creation-items {
    width: 50%;
    padding-bottom: 1.5rem;
}

.creation-items:nth-child(odd){
    border-right: 1px solid gainsboro;
}

.creation-items:nth-child(even){
    border-left: 1px solid gainsboro;
}

.creation-item-title-container {
    text-align: center;
    font-size: 1.45rem;
    height: 10vh;
}

.creation-item-image-container {
    padding: 10%;
}

.creation-item-button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/* creation-items end */

/* creation-items-container end */

/* creations-group-container end */

/* creations-container end */

.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

@media screen and (max-width: 768px) {
    .creation-items-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
    }
    
    .creation-item-title-container {
        height: auto;
    }

    .creation-items {
        width: 100%;
    }

    .creation-items:nth-child(odd) {
        border: none;
    }

    .creation-items:nth-child(even) {
        border: none;
    }
}

@media screen and (max-width: 430px) {
    .creation-group-title {
        font-size: 0.9rem;
    }

    .creation-item-title, li, span {
        font-size: 0.8rem;
    }
}